
<h3>Évènements de la même catégorie</h3>

{% for event in relatedEvents %}
    <a href="{{ path('entity.node.canonical', {'node': event.id }) }}">
        {{ event.title.value }}
    </a>
    <br>
{% else %}
    Aucun évènement de la même catégorie est actuellement ouvert
{% endfor %}

<h3>Autres évènements</h3>

{% for event in otherEvents %}
    <a href="{{ path('entity.node.canonical', {'node': event.id }) }}">
        {{ event.title.value }}
    </a>
    <br>
{% endfor %}
<br>
<br>

